<div id="about" class="about-container container-fluid">
    <div class="divider">
    </div>
    <div class="nav-container">
        <div class="nav">
            <div>
                <h1 class="header-title">About Me</h1>
            </div>
        </div>
    </div>

    <div class="about-section">
        <div class="image-container">
            <!--<div class="about-img"></div>-->
        </div>
        <div class="info-container">
            <div class="about-content">
                <div class="inner-content">
                    <h2>Hello...</h2>
                    <p>Welcome to my site! I am an aspiring web developer with a passion for design. I enjoy problem solving
                        and being creative. Outside of coding, I enjoy traveling, playing the drums, discovering new music
                        and hanging out with my dog, Ari.</p>
                </div>
            </div>
        </div>
    </div>

</div>