<div id="about" class="about-container container-fluid">
    <div class="divider">
    </div>
    <div class="nav-container">
        <div class="nav">
            <div>
                <h1 class="header-title">About Me</h1>
            </div>
        </div>
    </div>

    <div class="about-section container-fluid">
        <div class="image-container col-md-6 col-sm-6">
            <img src="images/aboutme1.jpg" alt="picture of lindy">
        </div>
        <div class="info-container col-md-6 col-sm-6">
            <div class="about-content">
                <div class="inner-content">
                    <h2>Hello...</h2>
                    <p>Welcome to my site! I am an aspiring web developer with a passion for design. I enjoy problem solving
                        and being creative. Outside of coding, I enjoy traveling the world, rock climbing, playing the drums, discovering new music
                        and hanging out with my dog, Aria.</p>
                </div>
            </div>
        </div>
    </div>

</div>