<div id="about" class="about-container container-fluid">
    <div class="divider">
    </div>
    <div class="nav-container">
        <div class="nav">
            <div><h1 class="header-title">About Me</h1></div>
        </div>
    </div>
    <div class="row">
        <section id="slide-1" class="about-section">
            <div class="about-container">
                <div class="image-container1">
                    <div class="about-img about-img1"></div>
                </div>
                <div class="about-content1">
                    <div class="inner-content">
                        <h2>About Me...</h2>
                        <p>This is a paragraph about me</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="slide-2" class="about-section">
            <div class="about-container">
                <div class="about-content2">
                    <div class="inner-content">
                        <h2>About Me...</h2>
                        <p>This is a paragraph about me</p>
                    </div>
                </div>
                <div class="image-container2">
                    <div class="about-img about-img2"></div>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <section id="slide-3" class="about-section">
            <div class="about-container">
                <div class="image-container3">
                    <div class="about-img about-img3"></div>
                </div>
                <div class="about-content1">
                    <div class="inner-content">
                        <h2>About Me...</h2>
                        <p>This is a paragraph about me</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <section id="slide-4" class="about-section">
            <div class="about-container">
                <div class="about-content2">
                    <div class="inner-content">
                        <h2>About Me...</h2>
                        <p>This is a paragraph about me</p>
                    </div>
                </div>
                <div class="image-container4">
                    <div class="about-img about-img4"></div>
                </div>
            </div>
        </section>
    </div>
</div>

