@font-face {
	font-weight: normal;
	font-style: normal;
}

/** {
	outline: 1px solid red;
}*/


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	background: #2a2e39;
	color: #dbdbdb;
	font-weight: 400;
	font-size: 1em;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

a:hover,
a:focus {
	outline: none;
	color: #fff !important;
}

.divider {
	width: 100%;
	background-image: url('images/white.jpg');
	background-attachment: fixed;
	margin-top: 15px;
	height: 200px;
	z-index: -1000;
	margin-bottom: 100px;
}

.container-fluid, .divider {
	padding-left: 0;
	padding-right: 0;
}

.nav-container {
	margin-bottom: 10px;
}

.navbar {
	margin-bottom: 0;
	float: right;

}

.navbar ul {
	list-style: none;
	line-height: 1.2;
	margin-bottom: 0;
	padding: 12px 0;
}

.navbar li {
	display: inline-block;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 20px;
}

.navbar a {
	color: white;
}

.header-title {
	font-size: 40px;
	color: deeppink;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 50px;
	margin-top: 0;
	margin-left: 25px;
}

.intro {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #2a2e39;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.lpcontainer-open .intro {
	-webkit-transform: translate3d(0, -100%, 0) translate3d(0, 180px, 0);
	transform: translate3d(0, -100%, 0) translate3d(0, 160px, 0);
}

.intro-image {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	width: auto;
	height: auto;
	opacity: 0.8;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.layer {
	background-color: rgba(255, 20, 147, 0.7);
	width: 100%;
	height: 100%;
}

.lpcontainer-open .intro-image {
	opacity: 0;
	-webkit-transform: translate3d(0, 20%, 0);
	transform: translate3d(0, 20%, 0);
}

.intro-content {
	position: absolute;
	bottom: 0;
	padding: 1.8em;
	width: 100%;
	font-size: 1.15em;
	padding-bottom: 5px;;
}

.lindy {
    border-radius: 50%
}

.intro-title {
	margin: 0 0 10px;
	font-weight: 900;
	font-size: 5.5em;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1;
}

.intro-subtitle {
	display: -webkit-flex;
	display: flex;
	float: left;
	-webkit-align-items: center;
	align-items: center;
    line-height: 20px;
}

.intro-description {
	margin-left: 8px;
	line-height: 1.2;
    font-size: 2.5em;
}

.trigger {
	position: relative;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
	color: deeppink;
	font-size: 40px;
	-webkit-text-stroke: 1px white;
}

.trigger span {
	position: absolute;
	top: 100%;
}

.icon rect,
.icon line {
	stroke: #dbdbdb;
	fill: none;
	stroke-width: 2px;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}


.icon-cross,
.trigger-active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger-active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.items-wrap {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 205px 5px 30px;
}

.items-wrap::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2a2e39;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	pointer-events: none;
}

.lpcontainer-open .items-wrap::after {
	opacity: 0;
}

.item {
	position: relative;
	-webkit-flex: 1 0 25%;
	flex: 1 0 25%;
	overflow: hidden;
	height: 22vw;
	outline: none;
	border: 5px solid #2a2e39;
	border-width: 0 5px 6px;
	background: #2a2e39;
}

.item-image {
	position: absolute;
	top: 50%;
	min-height: 100%;
	width: 100%;
	opacity: 0.7;
	-webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.item:hover .item-image {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.item-title {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: deeppink;
	font-size: 3em;
	font-weight: bold;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item-title {
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.about-container {
	margin-bottom: 100px;
}

.about-section {
	height: 500px;
	text-align: center;
	
}

.about-content {
	margin-top: 20%;
}

.image-container img {
	border-radius: 10%;
	width: 100%;
}

.about-content h2 {
	color: deeppink;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.about-content p {
	color: white;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
}

.skills {
	margin-bottom: 100px;
}

.skills h2 {
	color: deeppink;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-left: 0;
	margin-top: 0;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.skills h3 {
	color: deeppink;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.frontend {
	border: 5px solid white;
	border-radius: 8%;
	width: 700px;
	margin: 0 auto;	
}


.backend {
	border: 5px solid white;
	border-radius: 10%;
	width: 350px;
	margin: 0 auto;
}


.frontend .flip-container {
	perspective: 1000px;
	margin: 11px;
}

.backend .flip-container {
	perspective: 1000px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flip-container:hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);

}

.flip-container, .front, .back {
	width: 300px;
	height: 300px;
}


.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid white;
	border-radius: 5%;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
	-moz-transform: rotateY(0);
 	-webkit-transform: rotateY(0);
	text-align: center;
	
}

.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	list-style: none;
	text-align: center;
	font-size: 20px;
}

.back ul {
	margin-top: 25%;
	margin-right: 0;
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	color: deeppink;
}

.js-img {
	width: 25%;
	margin-top: 25%;
}

.fa-code {
	margin-top: 25%;
}

.fa-code-fork {
	margin-top: 25%;
}

.projects {
	margin-bottom: 100px;
}

.projects-wrap {
	text-align: center;
}

.project-tile {
	border: 5px solid white;
	border-radius: 10%;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 5%;
	width: 312px;
	height: 270px;
}

.project-tile h3 {
	color: deeppink;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.project-tile p {
	color: white;
	font-size: 16px;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.project-tile img {
	margin: 5px;
	width: 280px;
	padding: 1px;
	border-radius: 10%;
}

.contact {
	border: 5px solid white;
	border-radius: 10%;
	margin: 0 auto;
	width: 550px;
	margin-bottom: 100px;
}

.contact ul {
	list-style: none;
	padding-left: 17%;
}

.contact li {
	display: inline-block;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	padding: 10px;
}

.contact a {
	color: white;
}

.fa-github-square, .fa-linkedin-square, .fa-envelope-o {
	color: deeppink;
}

.fa-github-square:hover, .fa-linkedin-square:hover, .fa-envelope-o:hover {
	color: white;
}


@media screen and (max-width: 1440px) {
	.item {
		-webkit-flex: 1 0 33.333%;
		flex: 1 0 33.333%;
		height: 30vw;
	}
}

@media screen and (max-width: 1000px) {
	.item {
		-webkit-flex: 1 0 50%;
		flex: 1 0 50%;
		height: 45vw;
	}
	.item,
	.intro-content {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 590px) {
	.item {
		-webkit-flex: 1 0 100%;
		flex: 1 0 100%;
		height: 90vw;
	}

	.intro-title {
		font-size: 2em;
	}
}
