<div id="projects" class="projects container-fluid">
    <div class="divider">
    </div>
    <div class="nav-container">
        <div class="nav">
            <div>
                <h1 class="header-title">Projects</h1>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="projects-wrap">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="project-tile">
                        <a href="https://lindyleigh.github.io/my-kanban/" target="_blank">
                            <img src="images/mykanban.png" alt="kanban image">
                        </a>
                        <h3>My Kanban</h3>
                        <p>A site to neatly organize lists.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="project-tile">
                        <a href="https://lindyleigh.github.io/d-rums/" target="_blank">
                            <img src="images/drums.png" alt="drums image">
                        </a>
                        <h3>D-rums</h3>
                        <p>An interactive drumset with a few tricks up its sleeve.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="project-tile">
                        <a href="https://lindyleigh.github.io/inspire/" target="_blank">
                            <img src="images/inspire.png" alt="inspire image">
                        </a>
                        <h3>Inspire</h3>
                        <p>A personalized landing page.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="project-tile">
                        <a href="https://lindyleigh.github.io/Music-is-Fun/" target="_blank">
                            <img src="images/mytunes.png" alt="mytunes image">
                        </a>
                        <h3>myTunes</h3>
                        <p>A site for sampling music.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="project-tile">
                        <a href="https://lindyleigh.github.io/NFL_Roster/" target="_blank">
                            <img src="images/nfl.png" alt="nfl image">
                        </a>
                        <h3>Fantasy Football</h3>
                        <p>A work in progress for the upcoming NFL season.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="project-tile">
                        <a href="">
                            <img src="images/unicorn.png" alt="unicorn image">
                        </a>
                        <h3>Unicorn Adventure</h3>
                        <p>Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>