<div id="contact" class="container-fluid">
    <div class="divider">
    </div>
    <div class="nav-container">
        <div class="nav">
            <div><h1 class="header-title">Contact</h1></div>
        </div>
        <div class="contact">
            <ul>
                <li><a href="mailto:lindylcrain@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> lindylcrain@gmail.com</a></li>
                <li><a href="https://github.com/lindyleigh" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i> Github</a></li>
                <li><a href="http://www.linkedin.com/in/lindy-crain" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div style ="margin-bottom: 0" class="divider">
    </div>
</div>

